/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   CSS reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*   {
    border: 1px solid green; 
    }*/
@font-face {
    font-family: font-awesome;
    src: url("../fonts/fontawesome-webfont-webfont.ttf");
    }

@font-face {
    font-family: raleway-light;
    src: url("../fonts/raleway-light-webfont.ttf");
    }
   
@font-face {
    font-family: raleway-medium;
    src: url("../fonts/raleway-medium-webfont.ttf");
    }

@font-face {
    font-family: playfairdisplay-regular;
    src: url("../fonts/playfairdisplay-regular-webfont.ttf");
    }

@font-face {
    font-family: playfairdisplay-bold;
    src: url("../fonts/playfairdisplay-bold-webfont.ttf");
    }

@font-face {
    font-family: playfairdisplay-italic;
    src: url("../fonts/playfairdisplay-italic-webfont.ttf");
    }


.container{
  width:1240px;
  text-align: center;
}
    
header{
  display: inline;
}  

#header-list{
  display:inline;
  left:50%;
  color:#e2574c
 
}
header ul li{
  padding:30px;
  color:#e2574c
}


section{
    color:white;
    position:static;
    background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.25) 100%),
    url("../images/banner-girl.png"),
    url("../images/flower-bkgd.jpg");
    height:400px;  
    background-position:center bottom;
    background-repeat:no-repeat;
    background-size: auto,contain,cover;
    }

#new-collection{
  font-family: "raleway-medium";
}

#spring-summer{
  font-size:50px;

}


p{
  font-family: "raleway-light";
}

#header-list li{
  font-family: "raleway-medium";
  display: inline-block;
  padding-bottom:40px;
  margin:0px;
  align-content: center;
}

ul{
    margin:0px;
    padding:0px;
    list-style-type: none;
}



h1{
  text-align:center;
  position: relative;
  top: 50%;
}

h2{
  text-align:center;
  }
.italic{
  font-family:"playfairdisplay-italic";
}
.bold{
  font-family:"playfairdisplay-bold";
}

#aloha-logo{
  float:left;
}

#cart{
  float:right;
  }

.product-list li{
  display: inline-block;
  padding:0px;
  margin:0px;
  width:300px;
}



.hero-foot{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align:center;
}

#waves{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.25) 100%), url("../images/wave-bkgd.jpg");
  background-position: center bottom;
  color: white;
  background-size: 100%;
  height:300px;  

  }  

  #categories li{
      display: inline-block;
  }


#mens{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.25) 100%), url("../images/mens-category.jpg");
  background-size:100%;
  width:600px;
  height:300px;
  margin:0px,3px,3px,0px;
  text-align:center;
  position: relative;

  }

#trends{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.25) 100%), url("../images/trends-category.jpg");
  background-size: 100%;
  width:300px;
  height:300px;
  margin:0px,3px,3px,0px;
  text-align:center;
  position: relative;

}

#glasses{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.25) 100%), url("../images/glasses-category.jpg");
  background-size: 100%;
  width:300px;
  height:300px;
  margin:0px,3px,3px,0px;
  text-align:center;
  position: relative;
 
  }

#sale{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.25) 100%), url("../images/sale-category.jpg");
  background-size: 100%;
  width:300px;
  height:300px;
  margin:0px,3px,0px,0px;
  text-align:center;
  position: relative;
  
  }

#bags{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.25) 100%), url("../images/bags-category.jpg");
  background-size: 100%;
  width:300px;
  height:300px;
  margin:0px,3px,0px,0px;
  text-align:center;
  position: relative;

  }

#womens{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.25) 100%), url("../images/womens-category.jpg");
  background-size: 100%;
  width:600px;
  height:300px;
  margin:0px,3px,0px,0px;
  text-align:center;
  position: relative;
  
  }

footer{
  color:white;
  background-color:black;
  width:1240px; 
  padding-bottom:100px;
  text-align:left;
  float:left;
}

#social-media{
  color:white;
  float:right;
  padding-right:30px;
}